<nav>
    <div class="site-title">
        <a href="/"><h1>Quill Quest</h1></a>
        <p>Embark on a Journey of Wisdom</p>
    </div>
    <ul>
        <li><a href="/">Insight</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Insight</a></li>
    </ul>
</nav>