<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <h4>Welcome to Quill Quest, your digital haven for all things literary and adventurous!</h4>
        <p>At Quill Quest, we believe that every story is a journey waiting to be explored. Whether you're a seasoned wordsmith or a curious reader, our platform is designed to inspire, engage, and connect enthusiasts of all backgrounds through the magic of storytelling.</p><br>
        <p>Dive into a world where imagination knows no bounds. From thought-provoking book reviews to insightful writing tips, our blog is your compass in the vast realm of literature. Embark on quests to discover new authors, genres, and perspectives, and let your creativity soar as you navigate through the literary landscape.</p><br>
        <p>So whether you're seeking inspiration, knowledge, or simply a place to call home in the vast universe of literature, Quill Quest welcomes you with open arms. Join us on this journey as we embark on an endless quest for stories that captivate the heart and ignite the imagination.</p>
    </div>

    <%- include('./partials/foot.ejs') %>

</body>
</html>